{% extends 'base.html.twig' %}

{% block title %}Llistat de categorias{% endblock %}
{% block body %}
        <h1>Llistat de categorias</h1>

        {% if searchTerm is defined %}
          <p>Resultats de cerca per: <strong>{{ searchTerm }}</strong></p>
          <a href="{{ path('categoria_list') }}">x Esborrar resultats</a>
        {% endif %}

            {% for message in app.flashes('notice') %}
                  <strong>Success!</strong> {{ message }}
            {% endfor %}

            <table style="margin-top: 20px;margin-bottom: 10px;">
                <thead>
                    <tr>
                        <th>id</th><th>Nom</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categoria in categorias %}
                        <tr>
                            <td>{{ categoria.id }}</td><td>{{ categoria.nom }}</td>
                            
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No hi ha categoria.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br>

            


{% endblock %}
